/bin/
/docs/
/AgroScape.rs/
/lib/
/debug.*
/Repast.settings
/velocity.*
/freezedried_data/

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

*.class

simulation_logs.txt
/velocity.log*
/debug.log.*
/validation.*

/output

# Package Files #
*.jar
*.war
*.ear



# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
/installer/
/target/
/bin-tests/
