/bin/
/docs/
/AgroScape.rs/
/lib/
/debug.*
/Repast.settings
/velocity.*
/.settings/
/freezedried_data/
/.classpath/

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

*.class

simulation_logs.txt
/velocity.log*
/debug.log.*
/validation.*

/output

# Package Files #
*.jar
*.war
*.ear


# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch