<context xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context" id="SimulationContext">
	
	<projection type="grid" id="space" /> 
	<projection type="value layer"  id="StupidoGridValues"  />
	
	<context id="StupidoBehavior">
		
		<projection type="grid" id="space" /> 
		<projection type="value layer" id="owners" />
	</context>
	
	
	<context id="FarmersContext">
		
	</context>
	<context id="PlotsContext">
		
	</context>

</context>
