<context xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context" id="SimulationContext">
	
	<projection type="grid" id="grid"></projection>

	
	<!-- 
	<projection id="Owners" type="value layer" />
	<projection id="CropSuitability" type="value layer" />

	-->
	
	<context id="FarmersContext">
		
	</context>
	<context id="PlotsContext">
		
	</context>
</context>
